<!-- Navigation with Logo -->
<header class="p-3 navigation-header">
    <div class="container">
      <div class="navbar navbar-expand-lg d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
        
        <!-- Logo section -->
        <div id="logo" class="col-md-4 col-12 d-flex align-items-center">
          <!-- Adjust the size of logo's column as per requirement -->
          <img src="/static/images/fav.png" alt="LessonPlanAI Logo" class="mr-3">
          <h2 class="mb-0">LessonPlanAI</h2>
        </div>
        
        <!-- Navigation items -->
        <div class="navbar-collapse collapse justify-content-end">
          <ul class="navbar-nav text-white">
            <!-- Navigation items go here -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('core.home') }}">Home</a></li>
  
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('accounts.register') }}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('accounts.login') }}">Login</a>
            </li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('accounts.contact') }}">Contact</a></li>
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('core.dashboard') }}">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('core.generate_lesson') }}">Generate Lesson</a></li>
            <!-- Admin-only link -->
            {% if current_user.is_admin %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('core.admin_dashboard') }}">Admin Dashboard</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('accounts.logout') }}">Logout</a></li>
            {% else %}
            {% endif %}
          </ul>
        </div>
    
        <!-- Mobile navigation toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
      </div>
    </div>
  </header>
  