<header>
<nav class="navbar navbar-expand-md navbar-light" style="background-color: rgba(179, 179, 21, 0.781);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LessonPlanAI</a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ms-auto"> <li class="nav-item"><a class="nav-link" href="{{ url_for('core.home') }}">Home</a></li>
  
          {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('accounts.register') }}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('accounts.login') }}">Login</a>
            </li>
          {% endif %}
  
          <li class="nav-item"><a class="nav-link" href="{{ url_for('accounts.contact') }}">Contact</a></li>
  
          {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('core.dashboard') }}">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('core.generate_lesson') }}">Generate Lesson</a></li>
            {% if current_user.is_admin %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('core.admin_dashboard') }}">Admin Dashboard</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('accounts.logout') }}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div> 
  </nav>
</header>
  