{% extends '_base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Button Widget on the Left -->
    <div class="col-md-3 button-widget">
      <a href="{{ url_for('core.generate_lesson') }}" class="btn btn-primary btn-lg mb-2">Generate Lesson Plan</a>
      <a href="{{ url_for('core.subscribe') }}" class="btn btn-outline-primary btn-lg mb-2">Subscribe to a Plan</a>
      <a href="{{ url_for('core.hire_tutor') }}" class="btn btn-outline-primary btn-lg mb-2">Hire a Tutor</a>
      <a href="{{ url_for('core.online_tutor') }}" class="btn btn-outline-primary btn-lg mb-2">Register as a Tutor</a>
      <a href="{{ url_for('core.service_fee_payment') }}" class="btn btn-outline-primary btn-lg mb-2">Pay Tutor Registration Fee</a>
  </div>

    <!-- Main Content on the Right -->
    <div class="col-md-9">
      <h3 class="display-6 mb-4 text-center">Welcome, {{ current_user.first_name }} {{ current_user.last_name }}!</h3>
      <p class="text-center">{{ current_user.email }}</p>

      <!-- Subscription Information -->
      <div class="subscription-info mt-5 p-4 rounded-lg shadow">
        <h3 class="text-center mb-4">Subscription Information</h3>
        {% if subscription %}
        <div class="card">
          <div class="card-body">
            <p class="card-text"><strong>Plan:</strong> {{ subscription.plan }}</p>
            <p class="card-text"><strong>Amount:</strong> {{ subscription.amount }}</p>
            <p class="card-text"><strong>Date Subscribed:</strong> {{ subscription.start_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p class="card-text"><strong>Expiring Date:</strong> {{ subscription.end_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p class="card-text"><strong>Remaining Usages:</strong> 
              {% if subscription.end_date < today %} 
                  Expired
              {% else %}
                  {{ subscription.remaining_usages }}
              {% endif %}
          </p>
            {% if subscription.paid %}
            <p class="card-text text-success"><strong>Status:</strong> Subscription Successful</p>
            {% else %}
            <p class="card-text text-warning"><strong>Status:</strong> Awaiting Payment</p>
            {% endif %}
            <!-- More subscription details here -->
          </div>
        </div>
        {% else %}
        <p class="text-center text-muted">No active subscription. Click on <strong>Subscribe to a Plan</strong> to continue.</p>
        {% endif %}
      </div>

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="alert alert-{{ messages[0][1] }} mt-3">
        {{ messages[0][0] }}
      </div>
      {% endif %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}
