
{% extends "_base.html" %}

{% block content %}
<h1>Become a Tutor</h1>
    
<p>Unlock the potential to make a difference in students' lives by becoming a tutor with our platform. Share your knowledge, inspire others, and earn while doing it!</p>

<h2>Benefits of Registering:</h2>
<ul>
    <li>Flexible Schedule: Set your own availability for tutoring sessions.</li>
    <li>Make a Difference: Help students achieve their academic goals.</li>
    <li>Earn Income: Get paid for sharing your expertise.</li>
    <li>Build Your Profile: Showcase your skills and experience.</li>
</ul>

<h2>Get Started Today!</h2>
<p>Ready to embark on a rewarding journey? <a href="{{ url_for('core.tutor_registration') }}">Get started now</a> and join our community of passionate tutors!</p>

<h2>Registration Fee</h2>
<p>To cover administrative costs and ensure the quality of our tutoring network, there is a one-time registration fee of N10,000.</p>

<p>Register now and start making a positive impact!</p>
    {% endblock %}
