 {% extends '_base.html' %}

    {% block content %}
    <button onclick="window.history.back();">Go Back</button>
    <br>
    <h3>Registered Parents</h3>
    <table>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Child/Children Age Range</th>
            <th>Subject Area</th>
            <th>Location - State</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        {% for parent in parents %}
            <tr>
                <td>{{ parent.full_name }}</td>
                <td>{{ parent.email }}</td>
                <td>{{ parent.phone_number }}</td>
                <td>{{ parent.age_range }}</td>
                <td>{{ parent.subject_area }}</td>
                <td>{{ parent.state }}</td>
                <td>{{ parent.local_government }}</td>
                <td>
                    <a href="{{ url_for('core.delete_parent', parent_id=parent.id) }}">Remove</a>
                    <a href="{{ url_for('core.edit_parent', parent_id=parent.id) }}" class="btn btn-info">Edit Information</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No registered parents found.</td>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}