{% extends '_base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Parent Registration</h1>

            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <form method="POST" id="rform" action="{{ url_for('core.register_parent') }}">
                {{ form.hidden_tag() }}

                <div>
                    {{ form.full_name.label }}
                    {{ form.full_name(class="form-control", placeholder="Enter your full name") }}
                    {% for error in form.full_name.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div>
                    {{ form.phone_number.label }}
                    {{ form.phone_number(class="form-control", placeholder="Enter your phone number") }}
                    {% for error in form.phone_number.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div>
                    {{ form.email.label }}
                    {{ form.email(class="form-control", placeholder="Enter your email") }}
                    {% for error in form.email.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div>
                    {{ form.age_range.label }}
                    {{ form.age_range(class="form-control") }}
                    {% for error in form.age_range.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div>
                    {{ form.subject_area.label }}
                    {{ form.subject_area(class="form-control", placeholder="Enter subject area") }}
                    {% for error in form.subject_area.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div>
                    {{ form.state.label }}
                    {{ form.state(class="form-control", placeholder="Enter your state") }}
                    {% for error in form.state.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
             
                <div>
                    {{ form.local_government.label }}
                    {{ form.local_government(class="form-control", placeholder="Enter your local government/town/city of residence") }}
                    {% for error in form.local_government.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>




                <div class="text-center">
                    <button id="register-btn" type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <script>
document.getElementById('state').addEventListener('change', function() {
    var state = this.value;
    fetch(`/get-local-governments?state=${state}`)
        .then(response => response.json())
        .then(data => {
            var localGovDropdown = document.getElementById('local_government');
            localGovDropdown.innerHTML = '';
            data.forEach(function(lga) {
                var option = new Option(text=lga.name, value=lga.name);
                localGovDropdown.add(option);
            });
        })
        .catch(error => console.error('Error fetching LGAs:', error));
});

document.getElementById('rform').addEventListener('submit', function(e){
   // e.preventDefault();
    var localGovDropdown = document.getElementById('local_government');
    console.log("this is the value of the")
    console.log(localGovDropdown.value);
})
</script> -->

{% endblock %}
