{% extends "_base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Subscribed Tutors</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Tutor Name</th>
                <th>Amount Paid</th>
                <th>Payment Confirmed?</th>
                <th>Payment Date</th>
                <th>Payment ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in tutor_fee_payments %}
            <tr>
                <td>{{ payment.tutor_id }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ 'Yes' if payment.paid else 'No' }}</td>
                <td>{{ payment.payment_date.strftime('%Y-%m-%d') }}</td>
                <td>{{ payment.paystack_tutorfeepayment_id }}</td>
                <td>
                    <a href="{{ url_for('core.delete_tutor_fee_payment', payment_id=payment.id) }}" class="btn btn-danger btn-sm">Remove</a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
