<!-- templates/tutor_fee_payment.html -->

{% extends "_base.html" %}

{% block content %}
<div class="container my-4">
    <div class="mx-auto" style="max-width: 500px;"> <!-- Set a max-width for the form and its related content -->
        <h2 class="mb-3">Tutor Fee Payment</h2>
        
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-info" role="alert">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <p>Hello {{ current_user.first_name }} {{ current_user.last_name }},</p>

        <p>
          You are about to make a fee payment of N{{ fees.registration_fee.cost }}. Please proceed with the payment to complete your registration. Note that your registration will not be approved without payment.
        </p>

        <!-- Add your payment gateway integration code here -->
        <form method="post" action="{{ url_for('core.tutor_fee_payment') }}" class="mt-3">
          <input type="hidden" name="amount" value="{{ fees.registration_fee.cost }}">
          <input type="hidden" name="reference" value="{{ ref }}">
          <input type="hidden" name="email" value="{{ current_user.email }}">
          
          <div class="form-group">
              <label for="registration_fee">{{ fees.registration_fee.name }}:</label>
              <input type="text" class="form-control" name="amount" value="N{{ fees.registration_fee.cost }}" readonly>
          </div>
          
          <button type="submit" class="btn btn-primary">Proceed to Payment</button>
        </form>
    </div>
</div>
{% endblock %}
